<div id="boogle-form">
	<p>Each line you enter here WILL be validated server side against a dictionary, and the resulting scoring words displayed when you click the button.</p>
	<p>Disclaimer: I have completely punted on the algorithmic part of this solution, but I have implemented a full stack search against a dictionary. To make it obvious I wasn't even atttempting to solve that part of this assignment, but still have a satisfying experience, I am just taking each line in this text box as a "possible word" while still sending an array of character arrays to the server.</p>
	<p>Please look at the server side source code to see that I have encapsulated this "hard part" into an installable library that wraps up the graphing problem of finding "all possible paths through a matrix of characters" and bouncing those possible words off of a dictionary.</p>
	<textarea id="boggle-board" class="board"></textarea>
	<div>
		<button id="get-scoring-words" class="button">Get Scoring Words</button>
	</div>
	<div id="scoring-words"></div>
</div>
